<div id="notes">
  <link href="<%= @base_url %>/crm/notes/css/app.css" rel="stylesheet">
  <link href="<%= @base_url %>/crm/notes/css/bootstrap.css" rel="stylesheet">

  <div class="fluent-container">
    <h1>Please add a note, logging your action</h1>

    <p>
      Centra wants to help <strong>conversions</strong> and lead support,<br>
      we would like you to fill in as much details as possible.<br>
      <strong>Date and time</strong> will be auto logged.
    </p>

    <form action="<%= @base_url %>/crm/notes/log" method="post" class="form-horizontal" id="noteForm">
      <input type="hidden" name="id" value=<%= @id %> />

      <div class="control-group">
        <label class="control-label">Pre-fill subject:</label>

        <div class="controls">
          <select id="subjectList" class="input-xlarge">
            <option>Choose a pre fill</option>
            <option>Lead did not answer the phone</option>
            <option>Answered but couldn't talk</option>
            <option>Price is too high</option>
            <option>Lead doesn't talk English</option>
            <option>Is not interested</option>
            <option>Lead doesn't have a website</option>
            <option>Did not reach the owner</option>
            <option>Owner is not on vacation/working trip</option>
          </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Subject:</label>

        <div class="controls">
          <input type="text" name="subject" placeholder="Subject" class="required input-xlarge"/>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label">Note:</label>

        <div class="controls">
          <textarea rows="8" name="note" placeholder="Your note" class="input-xlarge"></textarea>
        </div>
      </div>

      <div class="control-group">

        <div class="controls">
          <input type="submit" value="submit" class="btn btn-primary">
        </div>
      </div>


    </form>
  </div>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
  <script src="https://raw.github.com/malsup/form/master/jquery.form.js"></script>
  <script src="https://raw.github.com/daepark/postmessage/master/postmessage.js"></script>
  <script src="<%= @base_url %>/crm/notes/js/app.js"></script>
</div>